<div class="panel">
  <div class="header">
    Cari Barang
  </div>

  <%= form_tag build_admin_orders_path, :id => 'search_products', :method => :get, :remote => true do %>
    <%= render :partial => 'admin/products/search_form' %>
  <% end %>
</div>