<%= render :partial => 'search' %>
<br/>

<div class="table_list" id="products_table">
  <%= render :partial => 'products_table' %>
</div>
<br/>

<div class="link">
  <%= link_to 'New Product', new_admin_product_path, :rel => 'facebox' %>
</div>