$main_background: #FFFFFF;
$header_background: #FFFFFF;
/* label */
$label_background: #FFFFFF;
$label_border_color: #000000;
$label_width: 120px;
/* textfield */
$input_background: #FFFFFF;
/*$input_hoover_background: lighten(#F5AD66, 15%);
$input_focus_background: lighten(#F5AD66, 15%);*/
$input_border_color: gray;
$margin_between_label_and_content: 8px;

.panel {
    background: $main_background repeat-x scroll 50% bottom #FFFFFF;
    border: 0px;
    color: #000000;
    font:normal 12px verdana, arial, helvetica, sans-serif;
    @include rounded-corners(10px);
    .header {
        background: $header_background repeat-x scroll 50% 50% #CB842E;
        border: 1px solid #000000;
        font-weight: bold;
        margin: 2px;
        padding: 6px 4px 8px 30px;
        letter-spacing:10px;
        text-transform:uppercase;
        @include rounded-corners(6px);
    }
    .main-content {
/*        padding : 0px 20px 10px 15px;*/
        .form {
            label {
                margin-top: 2px;
                background: $label_background repeat-x scroll 50% top #F5F5B5;
                /*                display: inline;*/
                float:left;
                width: $label_width;
                text-align: right;
                padding: 5px 10px;
                border: solid 1px $label_border_color;
                height: 15px;
                @include rounded-left-corners(6px);
            }
            .align-right{
                text-align: right;
            }
            .show {
                margin-top: 2px;
                margin-left: $margin_between_label_and_content;
                display: inline-block;
                padding: 5px 10px;
                border: solid 1px $input_border_color;
                background: transparent;
                height: 15px;
                font: normal 12px verdana, arial, helvetica, sans-serif;
                @include rounded-right-corners(6px);
            }
            .clear{
                clear: both;
            }
        }
    }
    .footer {
        background-image: none;
        /*        margin: 0.5em 0 0;*/
        padding: 0.3em 1em 0.5em 0.4em;
        margin: 3px;
        text-align: center;
        background: url("images/ui-bg_inset-soft_100_f4f0ec_1x100.png") repeat-x scroll 50% bottom #F4F0EC;
        border: 1px solid #E0CFC2;
        border-width: 1px 0 0;
        color: #1E1B1D;
    }
}