<div class="floating-menu">
  <h3>Menu</h3>
  <li><%= link_to('Pemesanan', build_admin_orders_path) %></li>
  <li><%= link_to('List Pemesanan', admin_orders_path) %></li>
  <li><%= link_to('Buku Order', books_admin_orders_path) %></li>
  <li><%= link_to('Kelola Barang', admin_products_path) %></li>
</div>