<div class="floating-menu">
  <h3>Menu</h3>
  <li><%= link_to('Barang', admin_products_path) %></li>
  <li><%= link_to('Pemesanan', admin_orders_path) %></li>
  <li><%= link_to('Pembayaran', payments_admin_orders_path) %></li>
</div>