<div class="flash">
  <% flash.each do |type, message| -%>
    <div class="<%= type %>">
      <p><span style="margin-right: 10px;"></span><%= message.html_safe %></p>
    </div>
  <% end -%>
</div>
<br/>