<!DOCTYPE html>
<html>
  <head>
    <title>BlackstarRentApp</title>
    <%= stylesheet_link_tag "print" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td>
          <%= yield %>
        </td>
      </tr>
    </table>
  </body>
</html>
